*, *::before, 
*::after {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.brand {
    height: 100%;
    padding: 0 1rem;
    border-radius: 0 50%;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 1.5px;
    background-color: rgb(205, 203, 203);
    color: rgb(9, 9, 59);
}

.header {
    background-color: rgb(9, 9, 59);
    color: rgb(205, 203, 203);
    font-size: 16px;
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
    /* gap: 1rem; */
    justify-content: space-between;
    height: 60px;
    /* border-bottom: 1px solid rgb(112, 108, 108); */
    align-items: center;
    padding: 0 3rem;
}

.footer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: rgb(9, 9, 59);
    color: rgb(205, 203, 203);
}

.nav {
    display: flex;
    gap: 1rem;
}

.container {
    flex: 1;
    background-color: rgb(203, 199, 199);
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.username__input {
    border: 1px solid rgb(125, 122, 122);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.username, 
.user_guess {
    padding: .5rem 3.35rem;
    text-align: center;
    font-size: 1.15rem;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 23px;
    box-sizing: border-box;
}

.startButton, 
.submitButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1.25rem;
    width: 8rem;
    margin: 0 auto;
    cursor: pointer;
    border: 1px solid rgba(43, 201, 74, .75);
    background-color: transparent;
    color: rgba(43, 201, 74, .75);
    font-weight: bold;
    font-size: 1rem;
    border-radius: 8px;
}

.submitButton {
    width: 9rem;
}

.startButton:hover,
.submitButton:hover{
    background-color: rgb(83, 145, 95);
    color: white;
}

.levels, 
.container__player__interface {
    width: 450px;
    padding: 2rem 0;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: rgba(57, 55, 55, 0.518);
    gap: 1.5rem;
}

.container__player__interface {
    position: absolute;
    justify-content: center;
    align-items: center;
}

.levels > h1 {
    margin: 0;
    padding: 1rem;
    text-align: center;
    background-color: black;
}

.divider {
    height: 1rem;
    margin: 0;
    font-size: 12px;
    padding: .3rem 0;
    text-align: center;
    font-style: italic;
    background-color: black;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 23px;
    margin: 0 2rem;
    cursor: pointer;
    background-color: rgba(68, 88, 68, 0.515);
    box-sizing: border-box;
}

.option:hover{ 
    background-color: rgb(68, 88, 68);
}

.guess__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hint {
    width: 80%;
    margin: 0 auto;
    padding: 4px;
    border: 1px solid rgba(125, 122, 122, .5rem);
    background-color: rgba(125, 122, 122, 0.078);
    border-radius: 23px;
}

.container__result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba(112, 105, 105, 0.12);
}

.try__button, 
.confirm__button, 
.reset__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 5rem;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: .5rem;
    background-color: rgb(181, 178, 178);
    color: rgb(32, 35, 37);
}

.result_area {
    padding: 2rem;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: rgb(220, 226, 231);
    box-shadow: 2px 4px 16px rgba(44, 43, 43, 0.5);
    border-radius: 1rem;
    box-sizing: border-box;
}

label {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.error_icon, .error_icon_two {
    position: absolute;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: lightcoral;
    color: white;
    font-size: large;
    font-weight: bold;
    right: 8px;
}

.user_emoji, 
.start_emoji,
.level_emoji {
    display: flex;
    position: absolute;
    cursor: none;
    font-size: 23px;
    background-color: white;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    width: 45px;
    height: 45px;
    z-index: 20;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(40, 35, 35, 0.5);
}

.user_emoji {
    left: -5px;
}

.start_emoji {
    right: 12px;
    background-color: rgb(181, 203, 185)!important;
}

.level_emoji {
    font-size: 23px;
    position: relative;
}

.level_emoji_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: .75rem;
}

.group__button {
    display: flex;
    text-align: right;
    margin-left: auto;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.group__button > span {
    border: 1px solid blue;
    cursor: pointer;
    width: 80px!important;
    margin: 0;
}

.spinner__wrapper {
    position: relative; 
    z-index: 100;
    width: 200px;
    height: 200px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    pointer-events: none;
    animation: text_color 2s ease-in-out infinite alternate;
    overflow: hidden;
}

.spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    border: 16px solid transparent;
    box-sizing: border-box;
    animation: rotate var(--duration) var(--timing) infinite;
    mix-blend-mode: overlay;
}

.spinner__red {
    border-left-color: lightcoral;
    --duration: 1.5s;
    --timing: ease-in-out;
}

.spinner__green {
    border-top-color: lightgreen;
    --duration: 2s;
    --timing: ease-in;
}

.spinner__blue {
    border-right-color: lightblue;
    --duration: 2.5s;
    --timing: ease-out;
 }

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes text_color {
    0% {
        color: rgba(0, 0, 0, 0);
    }

    50% {
        color: rgba(0, 0, 0, 0.5);
    }

    100% {
        color: rgba(0, 0, 0, 1);
    }
}

.error {
    border: 1px solid lightcoral;
}

.welcome__message {
    word-wrap: break-word;
    text-align: center;
    padding: 0 .75rem;
}

.hide, .hide_2, .hide_spinner {
    display: none;
}

/* Responsiveness */
@media screen and (max-width: 768px) {

    .header {
        padding: 0 2rem 0 0!important;
    }

    .brand {
        border-radius: 0 2rem;
    }

    .container__player__interface,
    .result_area {
        width: 90%!important;
    }

    .levels {
        width: 100%;
        gap: .75rem;
    }

    .username__input {
        padding: 2rem 1rem;
    }

    .username,
    .user_guess {
        padding: .5rem 3.35rem;
        font-size: 1rem;
    }

    .user_emoji {
        left: -2px;
    }

    .container__level {
        width: 90%;
    }

    .option {
        padding: .5rem;
        border-radius: 1rem;
        margin: 0 1rem;
    }

}
/* ends here */

